<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up. </h1>
    <hr width="20%" align="left">
    <p style="font-size:18px">>Get ready! Below is your lolcat of the day</p>
    <!-- Here will be displayed lolcat -->
   <!-- <%= image_tag @image_path %> -->
    <img src="http://<%= @image_path.url %>" alt="lolcat"> 
   <!-- <%= image_tag [@image_path] %>  -->
  

  </body>
</html>