<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up. </h1>
    <hr width="20%" align="left">
    <p style="font-size:18px">>Get ready! Below is your lolcat of the day</p>
   
    <%= image_tag @image_path %>

    <p style="font-size:18px">>Or maybe u feel boring? Always u can unsubscribe, just click link below:</p>
    <%=link_to "Delete",unsub_subscriptions_url(email: @subscription.email), :class => "delete" %>

  </body>
</html>