body {
	font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

h1 {
	padding: 1em 0;
    text-align: center;
    text-shadow: 1px 1px 0 #ccc;	
    font-family: 'Playfair Display SC', serif;
}

.archive-images {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
    padding-bottom: 1em;
	a {
      background: black;
	  display: inline-block;
	  border: 10px solid black;
	  -webkit-transition: all 300ms ease;
      transition: transform 300ms ease;
	  &:hover {
	    border-color: #1e5799;
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
	  }
	}
}

.form { 
    text-align: center;
    padding-bottom: 2em;
    .input {
	    display: inline-block;
    }
	input[type=email] {
		padding: 1em;
		font-size: 1.2em;
		border: 1px solid #ccc;
		border-radius: 2em 0 0 2em;
            
		&:focus {

			box-shadow:  inset 0 0 15px rgba(0,0,0,0.15);
			outline: none;
		}
	}
	button {
	    color: #fff;
	    display: inline-block;
	  	padding: 1em;
	  	border: 1px solid darken( #7db9e8, 10% ) ;
	  	border-radius: 0 2em 2em 0;
	  	font-size: 1.2em;
	  	cursor: pointer;
	  	background: #7db9e8; /* Old browsers */
		background: -moz-linear-gradient(top, #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* IE10+ */
		background: linear-gradient(to bottom, #7db9e8 0%,#1e5799 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

		&:hover {
		  	background: #1e5799; /* Old browsers */
			background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* IE10+ */
			background: linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
		}
	}
}

.pagination {
	text-align: center;

	a,
	.current {
	  display: inline-block;
	  padding: 0.5em;
	  border:1px solid black;
	}

	.current {
		font-weight: bold;
	}
}